In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras import Sequential
from keras.layers import Dense
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import keras as keras
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [3]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Data Preprocessing

In [4]:
data['Geography']=data['Geography'].map({
    'France':1,
    'Germany':0,
    'Spain':0
})

In [5]:
le=LabelEncoder()
data['Gender']=le.fit_transform(data['Gender'])

## Model Building

In [6]:
X=data.iloc[:,:-1].values
y=data.iloc[:,-1].values
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [7]:
# scalling
sc=StandardScaler()
Scaled_Xtrain=sc.fit_transform(X_train)
Scaled_Xtest=sc.fit(X_test)

In [8]:
ann=Sequential()

ann.add(Dense(10,activation='relu',input_dim=10))
keras.layers.Dropout(0.2)
ann.add(Dense(10,activation='relu'))
keras.layers.Dropout(0.2)
ann.add(Dense(10,activation='relu'))
ann.add(Dense(1,activation='sigmoid'))

In [9]:
ann.compile(loss='binary_crossentropy',optimizer='Adam')

In [10]:
ann.fit(Scaled_Xtrain,y_train,epochs=10)

Epoch 1/10
250/250 [==============================] - 2s 2ms/step - loss: 0.5482
Epoch 2/10
250/250 [==============================] - 1s 3ms/step - loss: 0.4446
Epoch 3/10
250/250 [==============================] - 1s 2ms/step - loss: 0.4151
Epoch 4/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3919
Epoch 5/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3758
Epoch 6/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3649
Epoch 7/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3591
Epoch 8/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3571
Epoch 9/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3535
Epoch 10/10
250/250 [==============================] - 1s 2ms/step - loss: 0.3522

In [14]:
y_pred=ann.predict(X_test)

63/63 [==============================] - 0s 2ms/step

In [15]:
y_pred=y_pred.astype('int')
accuracy_score(y_test,y_pred)

0.8035